[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
npyscreen = "*"
python-magic = "*"
docopt = "*"
ansi = "*"
pygeoip ="*"

[requires]
python_version = "3.7"
